.dropdown {
  position: absolute;
  inset: 0px auto auto 0px;
  margin: 0px;
  transform: translate(177px, 335px);
}

.jobType {
  border-right: 1px solid #dee2e6;
}

.addJob {
  margin-top: 300px;
}
