.job-title {
  overflow-wrap: anywhere;
}

.icons {
  width: 20px;
}

.jobcard {
  border: 1px solid lightgray;
  width: 400px;
}

.job-desc {
  overflow-wrap: anywhere;
}

@media (max-width: 767px) {
  .post-btn {
    margin-top: 8px;
  }
}

@media (min-width: 768px) {
  .post-btn {
    margin-top: 0px;
  }
}

.minus {
  fill: red;
}
